name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Hawx Test
      id: hawx-test
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Hawx Test
        setup-command: '.test/setup.sh > /dev/null 2> /dev/null'
        command: ".test/test.sh "
        timeout: 120
        max-score: 1
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        HAWX-TEST_RESULTS: "${{steps.hawx-test.outputs.result}}"
      with:
        runners: hawx-test